.login {
	&__feature {
		.heading {
			font-size: 1.3rem;
			font-weight: 600;
		}

		.label {
			p {
				font-size: 0.8rem;
				font-weight: 600;
				color: black;
			}
			span {
				font-size: 0.8rem;
				font-weight: 400;
				color: var(--main);
			}
		}

		.feature {
			border: 2px solid var(--primary);
			padding: 7px 10px;
			border-radius: 20px;
			font-size: 0.8rem;
			font-weight: 600;
		}
	}
}
